.animated-arrow-container span{
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: rotate(45deg);
    margin: -10px;
    animation: arrow-animation 2s infinite;
}

.animated-arrow-container span:nth-child(2){
    animation-delay: -0.2s;
}

.animated-arrow-container span:nth-child(3){
    animation-delay: -0.4s;
}

@keyframes arrow-animation {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}
