*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}

.container{
    position: relative;
    min-height: 100vh;
    background-color: #eee;
}

.profile_banner_section{
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 90vh;
}

.profile_banner_container{
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    position: relative;
    bottom: -200px;
    margin: 0 auto;
    background-color: #333;
    color: #EDEDED;
    width: 75%;
    height: 90vh;
    box-shadow: 0px 20px 80px 0px rgba(153, 153, 153, 0.3);
}

.profile_pic_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55%;
    height: 100%;
}

.profile_disclaimer_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*padding-top: 150px;*/
    width: 45%;
    height: 100%;
}

.profile_disclaimer_container i {
    font-size: 3rem;
    color: #222;
    margin: 8px;
}

.profile_pic{
    width: 90%;
    height: 90%;
    border-radius: 10px;
}

.profile_disclaimer_container .greeting_text{
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin-bottom: 12px;
}

.profile_disclaimer_container .profile_name{
    font-size: 4rem;
    font-weight: 600;
    margin: 10px 0;
}

.profile_disclaimer_container .job_position, .profile_disclaimer_container .company{
    font-size: 20px;
    letter-spacing: 1.2px;
    font-weight: 200;
    text-transform: uppercase;
}

.profile_disclaimer_container .company {
    color: #379373;
    font-weight: 300;
}


.profile_disclaimer_container .disclaimer_text{
    margin: 3.5rem 0;
    padding-right: 30px;
    font-size: 1.6rem;
    font-weight: 300;
    font-style: italic;
    text-align: left;
}

.about_section{
    padding-top: 250px;
    min-height: 80vh;
}

.about_section .about_content_container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.about_section .about_content_text, .about_section .about_content_skill_list{
    width: 50%;
    min-height: 30vh;
    color: #333;
}


.about_section .about_content_text{
    width: 60%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding: 0 80px;
}

.about_section .about_content_title{
    margin: 50px 0;
    text-align: left;
    color: #333;
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

.about_section .about_content_body{
    font-size: 1.5rem;
    font-style: italic;
    line-height: normal;
}

.about_section .about_content_skill_list {
    padding: 10px;
}

.about_section .about_content_skill_list i{
    font-size: 4rem;
    margin: 20px;
}

.pl-container {
    margin-bottom: 40px;
}

.skill_list_label {
    font-size: 1.5rem;
    margin-bottom: 25px;
}

*[class*='javascript']{
    background-color: #333333;
}

.xp_section{
    /*background: #379373;*/
    min-height: 40vh;
    padding: 50px;
}

.xp_section .xp_page_navigation{
    display: flex;
    align-items: center;
    justify-content: center;
}

.xp_section .xp_page_navigation button[class*='xp_button']{
    margin: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    width: 150px;
    text-transform: capitalize;
    border-radius: 10px;
    border: solid 3px #302b63;
    outline: none;
}

.xp_section .xp_page_navigation button[class*='xp_button']:hover{
    color: #EDEDED;
    background-color: #353162;
}

.xp_section_label{
    margin: 2rem 0;
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
}

.button_active{
    color: #EDEDED;
    background-color: #302b63;
}

.xp_page_content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline {
    width: 70%;
    position: relative;
}

.timeline .content {
    background-color: #444;
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    color: white;
}

.timeline .content h2{
    letter-spacing: 3px;
    text-transform: uppercase;
}

.timeline .content p {
    line-height: 1.4;
    margin: 10px 0;
}

.timeline .content .time {
    position: absolute;
    bottom: 10px;
    right: 10px;
    opacity: .5;
    font-size: 14px;
}

@media (min-width: 700px) {
    .timeline .content {
        width: 50%;
    }

    .timeline .content:nth-child(odd){
        float: left;
        clear: both;
                transform: translateX(-25px);

    }

    .timeline .content:nth-child(even){
        float: right;
        clear: both;
        transform: translateX(25px);
    }

    .timeline::before{
        content: "";
        width: 1px;
        height: 100%;
        background-color: #302b63;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .timeline .content::before{
        content: "";
        width: 16px;
        height: 16px;
        background: #379373;
        position: absolute;
        top: 50%;
        right: -33px;
        border-radius: 50%;
        transform: translateY(-50%);
    }

    .timeline .content:nth-child(even)::before{
        left: -33px;
    }

    .timeline .content:hover::before{
        background: #302b63;
    }

    .timeline .content:after{
        content: "";
        width: 20px;
        height: 20px;
        background: #444;
        position: absolute;
        top: 50%;
        right: -8px;
        transform: translateY(-50%) rotate(45deg);
    }

    .timeline .content:nth-child(even)::after{
        left: -8px;
    }
}

.page_footer {
    min-height: 30vh;
    background-color: #222222;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EDEDED;

}

.page_footer i{
    margin: 10px;
    font-size: 2rem;
}
